@model EuroStarFOM.Models.SinifModel.SatisFaturaDosyaModel
@{
    ViewBag.Title = "SatisFaturaDosya";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/smartadmin-html-full/dist/css/formplugins/select2/select2.bundle.css" rel="stylesheet" />
<link href="~/smartadmin-html-full/dist/css/formplugins/select2/select2.bundle.css" rel="stylesheet" />

<form id="NewOrderForm">
    <div class="modal-body">
        <div class="panel">
            <div class="panel-hdr bg-danger-900 bg-info-gradient">
                <h2 class="IslemTip">Yeni Fatura </h2>
                <div class="panel-toolbar">
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row ml-auto">
                        <div class="col-lg-5 col-md-12">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>İşlem Tipi</strong></label>
                                <select class="select2 form-control w-100 " id="IslemTip" name="IslemTip" required>
                                    <option> </option>
                                    <option value="1" selected="selected">Satış Faturası</option>
                                    <option value="2">Alış Faturası</option>
                                    <option value="3">Satış İade</option>
                                    <option value="4">Alış İade</option>
                                </select>
                                <div class="invalid-feedback">Lütfen İşlem Tipi Seçin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-4 col-sm-4">
                            <div class="form-group ">
                                <label class="col-form-label" for="FaturaSeriNo"><strong>Seri No</strong></label>
                                <input type="text" id="FaturaSeriNo" name="FaturaSeriNo" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " maxlength="1" required />
                                <div class="invalid-feedback">Lütfen Seri No Girin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-8 col-sm-8">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Sıra No</strong></label>
                                <input type="text" id="FaturaSiraNo" name="FaturaSiraNo" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " maxlength="13" required />
                                <div class="invalid-feedback">Lütfen Sıra No Girin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Tarih</strong></label>
                                <input type="date" id="Tarih" name="Tarih"  class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " required />
                                <div class="invalid-feedback">Lütfen Tarih Seçin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Vade Tarih</strong></label>
                                <input type="date" id="VadeTarih" name="VadeTarih" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " />
                                <div class="invalid-feedback">Lütfen Tarih Seçin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col-lg-5 col-md-12">
                            <div class="form-group ">

                                <label for="CariID" class="col-form-label">
                                    <strong>Cari</strong>
                                </label>
                                <input type="hidden" id="CariID" name="CariID" value="@Model.Cari.CariID" />
                                <input type="text" id="CariSoyad" name="CariSoyad" value="@Model.Cari.CariSoyad" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " disabled />
                                <div class="invalid-feedback">Lütfen Cari Seçin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>

                            </div>
                        </div>
                        <div class="col-lg-1 col-md-4 col-sm-4">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Vergi Numarası</strong></label>
                                <input type="text" id="VergiNumarasi" name="VergiNumarasi" value="@Model.Cari.VergiNo" maxlength="13" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " disabled />

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-8 col-sm-8">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Vergi Dairesi</strong></label>
                                <input type="text" id="VergiDairesi" name="VergiDairesi" value="@Model.Cari.VergiDairesi" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " disabled />

                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>İrsaliye Numarası</strong></label>
                                <input type="text" id="IrsaliyeNumarasi" name="IrsaliyeNumarasi" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " required />
                                <div class="invalid-feedback">İrsaliye Numarası Giriniz.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <label class="col-form-label"><strong>Depo</strong></label>
                            <select class="select2 form-control w-100 " required id="DepoId" name="DepoId">
                                <option></option>
                                @foreach (var item in Model.DepoDeger)
                                {
                                    <option value="@item.DepoId">@item.DepoAd</option>
                                }
                            </select>
                            <div class="invalid-feedback">Depo Seçiniz.</div>
                            <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                        </div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col-lg-5 col-md-12">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Adres</strong></label>
                                <input type="text" id="Adres" value="@Model.Cari.Adres" name="Adres" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " disabled />
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-12">
                            <div class="form-group mt-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="KdvDahil" value="KdvDahil" checked>
                                    <label class="custom-control-label" for="KdvDahil">Kdv Dahil</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Açıklama</strong></label>
                                <input type="text" id="AciklamaFatura" name="AciklamaFatura" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " required />
                                <div class="invalid-feedback">Açıklama Giriniz.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Dosya No</strong></label>
                                <input type="hidden"   id="DosylarID" name="DosylarID" value="@Model.Dosya.DosylarID"  />
                                <input type="text" id="Adres" value="@Model.Dosya.DosylarNo    ( @Model.Dosya.DosyaDurum )" name="Adres" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " disabled />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-hdr bg-danger-900 bg-info-gradient">
                <h2>Fatura Kalemleri </h2>
                <div class="panel-toolbar">

                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <input type="hidden" id="id" />
                        <div class="form-group col-12">
                            <label class="col-form-label"><strong>Ürün</strong></label>
                            <select class="select2 form-control w-100 " required id="UrunId" name="UrunId">
                                <option></option>
                                @foreach (var item in Model.UrunDeger)
                                {
                                    <option value="@item.UrunID">@item.UrunAd</option>
                                }
                            </select>
                            <div class="invalid-feedback">Ürün Seçiniz.</div>
                            <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex justify-content-end mb-3">
                        <div class="col-md-4 col-lg-offset-4 text-white text-right">
                            <a id="addToList" class="btn btn-success">Listeye Ekle</a>
                        </div>
                    </div>

                    <table id="detailsTable" class="table m-0 table-hover table-striped table-bordered">
                        <thead>
                            <tr class="bg-info-400">
                                <th style="width:10%">Ürün Kodu</th>
                                <th style="width:25%">Ürün</th>
                                <th style="width:25%">Açıklama</th>
                                <th style="width:10%">%Kdv</th>
                                <th style="width:10%">Miktar</th>
                                <th style="width:10%">Fiyat</th>
                                <th style="width:10%">Tutar</th>
                                <th style="width:10%">İşlem</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row ml-auto mb-2 d-flex justify-content-end ">
            <div class="col-3 d-flex justify-content-end ">
                <label for="AraToplam" class="col-sm-4  col-form-label"><strong>Ara Toplam</strong></label>
                <div class="col-sm-8">
                    <input input type="number" id="AraToplam" name="Toplam" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                </div>
            </div>
        </div>
        <div class="row ml-auto mb-2 d-flex justify-content-end ">
            <div class="col-3 d-flex justify-content-end ">
                <label for="Kdv" class="col-sm-4  col-form-label"><strong>Kdv</strong></label>
                <div class="col-sm-8">
                    <input input type="number" id="KdvToplam" name="Toplam" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                </div>
            </div>
        </div>
        <div class="row ml-auto mb-2 d-flex justify-content-end ">
            <div class="col-3 d-flex justify-content-end ">
                <label for="GenelToplam" class="col-sm-4  col-form-label"><strong>Genel Toplam</strong></label>
                <div class="col-sm-8">
                    <input input type="number" id="GenelToplam" name="Toplam" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="saveOrder" type="submit" class="btn btn-warning">Faturayı Ekle</button>
    </div>
</form>
<input type="hidden" id="FaturaKalemID" value="'+data[i].FaturaKalemID+'" />

@section ScriptsBlock{
    <script src="~/smartadmin-html-full/dist/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/Scripts/DropDown.js"></script>

    <script>



        $("#KdvDahil").click(function () {

            if ($("#KdvDahil").val() == "KdvDahil") {
                $("#KdvDahil").val("KdvDahilDegil");
            } else {
                $("#KdvDahil").val("KdvDahil");
            }
            toplamTutar2();
        });
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#UrunId").val()) == "") return;

            var UrunId = $("#UrunId").val(),
                UrunAd = $("#UrunId option").filter(':selected').text(),
                birimfiyat = 0,


                detailsTableBody = $("#detailsTable tbody");
            var p = $.post("/Fatura/UrunGetir",
                {
                    id: UrunId,
                },
                function (data, status) {

                    if ($("#IslemTip :selected").val() == 1 || $("#IslemTip :selected").val() == 3) {
                        birimfiyat = parseFloat(data.satis);
                        //$("#BirimFiyat").val(birimfiyat);
                    };
                    if ($("#IslemTip :selected").val() == 2 || $("#IslemTip :selected").val() == 4) {
                        birimfiyat = parseFloat(data.alis);

                        //$("#BirimFiyat").val(birimfiyat);
                    };

                });
            $.when(p).done(function () {
                var degerler = '<tr><td ><input type="text" id="UrunId" name="UrunId" value="' + UrunId + '" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent"/></td><td><input type="text" id="UrunAd" value="' + UrunAd + '" name="UrunAd" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent"/></td><td><input type="text" id="Aciklama" name="Aciklama" placeholder="Açıklama Giriniz" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent"/></td><td ><select id="Kdv" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent"><option value="0.08">%8</option><option value="0.18">%18</option></select></td><td><input type="number" id="Miktar" name="Miktar" value="1" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent" /></td><td> <input type="number" id="BirimFiyat" name="BirimFiyat" value="' + birimfiyat + '"  placeholder="Fiyat Miktarı" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent" /></<td><td><input input type="number" id="Tutar" name="Tutar" placeholder="Tutar" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent" /></td><td><a data-itemId="0" href="#" class="deleteItem btn btn-danger btn-icon rounded-circle mr-1"><i class="fal fa-trash-alt"></i></a></td></tr > ';

                detailsTableBody.append(degerler);
                toplamTutar();
                $("#UrunId option:selected").remove();
            });


            //BirimFiyatYaz(UrunId);
        });
        function BirimFiyatYaz(UrunId) {
            $.post("/Fatura/UrunGetir",
                {
                    id: UrunId,
                },
                function (data, status) {

                    if ($("#IslemTip :selected").val() == 1 || $("#IslemTip :selected").val() == 3) {
                        birimfiyat = data.satis;
                    };
                    if ($("#IslemTip :selected").val() == 2 || $("#IslemTip :selected").val() == 4) {
                        birimfiyat = data.alis;

                    };

                });
        };
        function toplamTutar() {
            $("td").change(function () {
                $.each($("#detailsTable tbody tr"), function () {
                    var Kdv = $(this).find('#Kdv').val();
                    var BirimFiyat = $(this).find('#BirimFiyat').val();
                    var Miktar = $(this).find('#Miktar').val();
                    var Kdvsiz = (BirimFiyat * Miktar * Kdv) + (BirimFiyat * Miktar);
                    var Kdvli = (BirimFiyat * Miktar);
                    var sonuc = null;
                    if ($("#KdvDahil").val() == "KdvDahil") {
                        sonuc = Kdvli;
                    } else {
                        sonuc = Kdvsiz;
                    }

                    $(this).find('td:eq(6)').text(sonuc);
                });
                var araToplam = 0;
                var kdvToplam = 0;
                var genelToplam = 0;

                $("#detailsTable tbody tr").each(function () {
                    var Kdv = $(this).find('#Kdv').val();
                    var BirimFiyat = $(this).find('#BirimFiyat').val();
                    var Miktar = $(this).find('#Miktar').val();
                    var x = null;
                    if ($("#KdvDahil").val() == "KdvDahil") {
                        var a = (BirimFiyat * Miktar) * 100;
                        var c = (100 * Kdv) + 100;
                        x = (a / c);
                    } else {
                        x = (BirimFiyat * Miktar);
                    }
                    var toplam = $(this).find("td:eq(6)").text();

                    araToplam = araToplam + x;
                    genelToplam = genelToplam + parseFloat(toplam);
                    kdvToplam = genelToplam - araToplam;
                });
                document.getElementById('AraToplam').value = araToplam.toFixed(2);
                document.getElementById('KdvToplam').value = kdvToplam.toFixed(2);
                document.getElementById('GenelToplam').value = genelToplam.toFixed(2);

            });
            toplamTutar2();
        }
        function toplamTutar2() {
            //Satır Silinirse
            $.each($("#detailsTable tbody tr"), function () {
                var Kdv = $(this).find('#Kdv').val();
                var BirimFiyat = $(this).find('#BirimFiyat').val();
                var Miktar = $(this).find('#Miktar').val();
                var Kdvsiz = (BirimFiyat * Miktar * Kdv) + (BirimFiyat * Miktar);
                var Kdvli = (BirimFiyat * Miktar);
                var sonuc = null;
                if ($("#KdvDahil").val() == "KdvDahil") {
                    sonuc = Kdvli;
                } else {
                    sonuc = Kdvsiz;
                }

                $(this).find('td:eq(6)').text(sonuc);
            });
            var araToplam = 0;
            var kdvToplam = 0;
            var genelToplam = 0;

            $("#detailsTable tbody tr").each(function () {
                var Kdv = $(this).find('#Kdv').val();
                var BirimFiyat = $(this).find('#BirimFiyat').val();
                var Miktar = $(this).find('#Miktar').val();
                var x = null;
                if ($("#KdvDahil").val() == "KdvDahil") {
                    var a = (BirimFiyat * Miktar) * 100;
                    var c = (100 * Kdv) + 100;
                    x = (a / c);
                } else {
                    x = (BirimFiyat * Miktar);
                }
                var toplam = $(this).find("td:eq(6)").text();

                araToplam = araToplam + x;
                genelToplam = genelToplam + parseFloat(toplam);
                kdvToplam = genelToplam - araToplam;
            });
            document.getElementById('AraToplam').value = araToplam.toFixed(2);
            document.getElementById('KdvToplam').value = kdvToplam.toFixed(2);
            document.getElementById('GenelToplam').value = genelToplam.toFixed(2);
        }
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#fd3995").fadeOut(800, function () {
                    $(this).remove();
                    toplamTutar2();
                });
            }

        });
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Dosyalar/SatisFaturaDosya",
                data: data,
                success: function (result) {
                    console.log(result);
                    location.reload();
                    alert(result);

                },
                error: function () {
                    console.log("Error!");
                    alert("Ayarlarınızı Kontrol Edin");
                }
            });
        }
        $("#saveOrder").click(function (e) {
            e.preventDefault();
            var orderArr = [];
            orderArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                orderArr.push({
                    FaturaKalemID: $(this).find('#FaturaKalemID').val(),
                    UrunId: $(this).find('#UrunId').val(),
                    UrunAd: $(this).find('#UrunAd').val(),
                    Aciklama: $(this).find('#Aciklama').val(),
                    Kdv: $(this).find('#Kdv').val(),
                    Miktar: $(this).find('#Miktar').val(),
                    BirimFiyat: $(this).find('#BirimFiyat').val(),
                    Tutar: $(this).find('td:eq(6)').html()

                });
            });
            var data = JSON.stringify({
                FaturaID: $("#FaturaId").val(),
                Adres: $("#Adres").val(),
                AciklamaFatura: $("#AciklamaFatura").val(),
                FaturaSeriNo: $("#FaturaSeriNo").val(),
                FaturaSiraNo: $("#FaturaSiraNo").val(),
                IrsaliyeNumarasi: $("#IrsaliyeNumarasi").val(),
                VadeTarih: $("#VadeTarih").val(),
                Tarih: $("#Tarih").val(),
                VergiNumarasi: $("#VergiNumarasi").val(),
                VergiDairesi: $("#VergiDairesi").val(),
                IslemTip: $("#IslemTip option").filter(':selected').text(),
                GenelToplam: $("#GenelToplam").val(),
                CariID: $("#CariID").val(),
                DepoId: $("#DepoId").val(),
                DosylarID: $("#DosylarID").val(),
                kalemler: orderArr
            });
            console.log(data);
            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    </script>
}
