@model EuroStarFOM.Models.SinifModel.FaturaFKalemModel
@{
    ViewBag.Title = "DinamikFaturaEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="~/smartadmin-html-full/dist/css/formplugins/select2/select2.bundle.css" rel="stylesheet" />
<div class="FaturaTip">   <h1><strong id="FaturaTip"></strong>  </h1></div>
<form id="NewOrderForm">
    <div class="modal-body">
        <div class="panel">
            <div class="panel-hdr bg-danger-900 bg-info-gradient">
                <h2 class="IslemTip">Yeni Fatura </h2>
                <div class="panel-toolbar">
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <input type="hidden" id="FaturaId" />
                    <div class="row ml-auto">
                        <div class="col-lg-5 col-md-12">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>İşlem Tipi</strong></label>
                                <select class="select2 form-control w-100 is-invalid" id="IslemTip" name="IslemTip" required>
                                    <option> </option>
                                    <option value="1">Satış Faturası</option>
                                    <option value="2">Alış Faturası</option>
                                    <option value="3">Satış İade</option>
                                    <option value="4">Alış İade</option>
                                </select>
                                <div class="invalid-feedback">Lütfen İşlem Tipi Seçin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-4 col-sm-4">
                            <div class="form-group ">
                                <label class="col-form-label" for="FaturaSeriNo"><strong>Seri No</strong></label>
                                <input type="text" id="FaturaSeriNo" name="FaturaSeriNo" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 is-invalid" maxlength="1" required />
                                <div class="invalid-feedback">Lütfen Seri No Girin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-8 col-sm-8">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Sıra No</strong></label>
                                <input type="text" id="FaturaSiraNo" name="FaturaSiraNo" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 is-invalid" maxlength="13" required />
                                <div class="invalid-feedback">Lütfen Sıra No Girin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Tarih</strong></label>
                                <input type="date" id="Tarih" name="Tarih" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 is-invalid" required />
                                <div class="invalid-feedback">Lütfen Tarih Seçin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Vade Tarih</strong></label>
                                <input type="date" id="VadeTarih" name="VadeTarih" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 is-invalid" />
                                <div class="invalid-feedback">Lütfen Tarih Seçin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col-lg-5 col-md-12">
                            <div class="form-group ">

                                <label for="CariID" class="col-form-label">
                                    <strong>Cari</strong>
                                </label>
                                <select class="select2 form-control w-100 is-invalid" id="CariID" name="CariID">
                                    <option> </option>
                                    @foreach (var item in Model.CariDeger)
                                    {
                                        <option value="@item.CariID">@item.CariID | @item.CariAd   @item.CariSoyad</option>
                                    }
                                </select>
                                <div class="invalid-feedback">Lütfen Cari Seçin.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>

                            </div>
                        </div>
                        <div class="col-lg-1 col-md-4 col-sm-4">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Vergi Numarası</strong></label>
                                <input type="text" id="VergiNumarasi" name="VergiNumarasi" maxlength="13" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " disabled />
                                @*<div class="invalid-feedback">Vergi Numarası Giriniz.</div>
                                    <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>*@
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-8 col-sm-8">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Vergi Dairesi</strong></label>
                                <input type="text" id="VergiDairesi" name="VergiDairesi" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " disabled />
                                @*<div class="invalid-feedback">Vergi Dairesi Giriniz.</div>
                                    <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>*@
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>İrsaliye Numarası</strong></label>
                                <input type="text" id="IrsaliyeNumarasi" name="IrsaliyeNumarasi" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 is-invalid" required />
                                <div class="invalid-feedback">İrsaliye Numarası Giriniz.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <label class="col-form-label"><strong>Depo</strong></label>
                            <select class="select2 form-control w-100 is-invalid" required id="DepoId" name="DepoId">
                                <option></option>
                                @foreach (var item in Model.DepoDeger)
                                {
                                    <option value="@item.DepoId">@item.DepoAd</option>
                                }
                            </select>
                            <div class="invalid-feedback">Depo Seçiniz.</div>
                            <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                        </div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col-lg-5 col-md-12">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Adres</strong></label>
                                <input type="text" id="Adres" name="Adres" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 " disabled />
                            </div>
                            @*<div class="invalid-feedback">Adres Giriniz.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>*@
                        </div>
                        <div class="col-lg-1 col-md-12">
                            <div class="form-group mt-6">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="KdvDahil" value="KdvDahil" checked>
                                    <label class="custom-control-label" for="KdvDahil">Kdv Dahil</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group ">
                                <label class="col-form-label"><strong>Açıklama</strong></label>
                                <input type="text" id="AciklamaFatura" name="AciklamaFatura" class="form-control border-top-left-radius-3 border-bottom-left-radius-3 is-invalid" required />
                                <div class="invalid-feedback">Açıklama Giriniz.</div>
                                <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-hdr bg-danger-900 bg-info-gradient">
                <h2>Fatura Kalemleri </h2>
                <div class="panel-toolbar">

                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="row">
                        <input type="hidden" id="id" />
                        <div class="form-group col-12">
                            <label class="col-form-label"><strong>Ürün</strong></label>
                            <select class="select2 form-control w-100 is-invalid" required id="UrunId" name="UrunId">
                                <option></option>
                                @foreach (var item in Model.UrunDeger)
                                {
                                    <option value="@item.UrunID">@item.UrunAd</option>
                                }
                            </select>
                            <div class="invalid-feedback">Ürün Seçiniz.</div>
                            <div class="valid-feedback"><i class="ni ni-check fa-1x"> Teşekkürler</i></div>
                        </div>
                    </div>
                    <div class="row mt-4 d-flex justify-content-end mb-3">
                        <div class="col-md-4 col-lg-offset-4 text-white text-right">
                            <a id="addToList" class="btn btn-success">Listeye Ekle</a>
                        </div>
                    </div>
                    <table id="detailsTable" class="table m-0 table-hover table-striped table-bordered">
                        <thead>
                            <tr class="bg-info-400">
                                <th style="width:10%">Ürün Kodu</th>
                                <th style="width:25%">Ürün</th>
                                <th style="width:25%">Açıklama</th>
                                <th style="width:10%">%Kdv</th>
                                <th style="width:10%">Miktar</th>
                                <th style="width:10%">Fiyat</th>
                                <th style="width:10%">Tutar</th>
                                <th style="width:10%">İşlem</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row ml-auto mb-2 d-flex justify-content-end ">
            <div class="col-3 d-flex justify-content-end ">
                <label for="AraToplam" class="col-sm-4  col-form-label"><strong>Ara Toplam</strong></label>
                <div class="col-sm-8">
                    <input input type="number" id="AraToplam" name="Toplam" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                </div>
            </div>
        </div>
        <div class="row ml-auto mb-2 d-flex justify-content-end ">
            <div class="col-3 d-flex justify-content-end ">
                <label for="Kdv" class="col-sm-4  col-form-label"><strong>Kdv</strong></label>
                <div class="col-sm-8">
                    <input input type="number" id="KdvToplam" name="Toplam" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                </div>
            </div>
        </div>
        <div class="row ml-auto mb-2 d-flex justify-content-end ">
            <div class="col-3 d-flex justify-content-end ">
                <label for="GenelToplam" class="col-sm-4  col-form-label"><strong>Genel Toplam</strong></label>
                <div class="col-sm-8">
                    <input input type="number" id="GenelToplam" name="Toplam" class="form-control border-top-left-radius-3 border-bottom-left-radius-3" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="saveOrder" type="submit" class="btn btn-danger">Faturayı Kaydet</button>
    </div>
</form>
@section ScriptsBlock{
    <script src="~/smartadmin-html-full/dist/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/Scripts/DropDown.js"></script>

    @*Bunu Kontrol et*@
    <script type="text/javascript">
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('is-invalid');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('is-valid');
                    }, false);
                });
            }, false);
        })();

    </script>
    <script>
        $(document).ready(function () {

            var as = $(location).attr('search');
            let result = as.slice(5, 6);
            $("#IslemTip").val(parseInt(result));
            var asd = $("#IslemTip option").filter(':selected').text();
            if ($("#IslemTip :selected").text().trim() == "") {
                asd = "Fatura";
            };


            $(".IslemTip").text("Yeni " + asd);
            $("#IslemTip").change(function () {
                if ($("#IslemTip").val() == "İşlem Tipi Seçin") {

                    $("#IslemTip").removeClass("is-valid");
                    $("#IslemTip").addClass("is-invalid");

                } else {
                    $("#IslemTip").removeClass("is-invalid");
                    $("#IslemTip").addClass("is-valid");

                }
                var e = $("#IslemTip :selected").text();
                var asd = $("#IslemTip :selected").text();
                if ($("#IslemTip :selected").text().trim() == "") {
                    asd = "Faturalar";
                }
                //$("#FaturaTip").text(e);
                $(".IslemTip").text("Yeni " + asd);
                var div = $(".FaturaTip");
                var div2 = $(".panel-container");
                div.animate({ height: '300px', opacity: '0.2' }, "slow");
                div.animate({ opacity: '0.7' }, "slow");
                div2.animate({ height: 'hide', opacity: '0.4' }, "slow");
                div.animate({ height: '50px', opacity: '1' }, "slow");
                div2.animate({ height: 'show', opacity: '1' }, "slow");

            });
            $("#FaturaSeriNo").change(function () {
                if ($("#FaturaSeriNo").val() == "") {

                    $("#FaturaSeriNo").removeClass("is-valid");
                    $("#FaturaSeriNo").addClass("is-invalid");

                } else {
                    $("#FaturaSeriNo").removeClass("is-invalid");
                    $("#FaturaSeriNo").addClass("is-valid");

                }
            });
            $("#FaturaSiraNo").change(function () {
                if ($("#FaturaSiraNo").val() == "") {

                    $("#FaturaSiraNo").removeClass("is-valid");
                    $("#FaturaSiraNo").addClass("is-invalid");

                } else {
                    $("#FaturaSiraNo").removeClass("is-invalid");
                    $("#FaturaSiraNo").addClass("is-valid");

                }
            });
            $("#Tarih").change(function () {
                if ($("#Tarih").val() == "mm/dd/yyyy") {

                    $("#Tarih").removeClass("is-valid");
                    $("#Tarih").addClass("is-invalid");

                } else {
                    $("#Tarih").removeClass("is-invalid");
                    $("#Tarih").addClass("is-valid");

                }
            });
            $("#VadeTarih").change(function () {
                if ($("#VadeTarih").val() == "mm/dd/yyyy") {

                    $("#VadeTarih").removeClass("is-valid");
                    $("#VadeTarih").addClass("is-invalid");

                } else {
                    $("#VadeTarih").removeClass("is-invalid");
                    $("#VadeTarih").addClass("is-valid");

                }
            });
            $("#CariID").change(function () {
                if ($("#CariID").val() == "") {

                    $("#CariID").removeClass("is-valid");
                    $("#CariID").addClass("is-invalid");

                } else {
                    $("#CariID").removeClass("is-invalid");
                    $("#CariID").addClass("is-valid");

                }

                $.post("/Fatura/CariGetir",
                    {
                        id: $("#CariID").val(),
                    },
                    function (data, status) {
                        $("#VergiNumarasi").val(data.VergiNo);
                        $("#VergiDairesi").val(data.VergiDairesi);
                        console.log(data)
                        $("#Adres").val(data.CariSehir + "  " + data.Adres);
                    });

            });
            $("#IrsaliyeNumarasi").change(function () {
                if ($("#IrsaliyeNumarasi").val() == "") {

                    $("#IrsaliyeNumarasi").removeClass("is-valid");
                    $("#IrsaliyeNumarasi").addClass("is-invalid");

                } else {
                    $("#IrsaliyeNumarasi").removeClass("is-invalid");
                    $("#IrsaliyeNumarasi").addClass("is-valid");

                }
            });
            $("#DepoId").change(function () {
                if ($("#DepoId").val() == "") {

                    $("#DepoId").removeClass("is-valid");
                    $("#DepoId").addClass("is-invalid");

                } else {
                    $("#DepoId").removeClass("is-invalid");
                    $("#DepoId").addClass("is-valid");

                }
            });
            $("#AciklamaFatura").change(function () {
                if ($("#AciklamaFatura").val() == "") {

                    $("#AciklamaFatura").removeClass("is-valid");
                    $("#AciklamaFatura").addClass("is-invalid");

                } else {
                    $("#AciklamaFatura").removeClass("is-invalid");
                    $("#AciklamaFatura").addClass("is-valid");

                }
            });
            $("#UrunId").change(function () {
                if ($("#UrunId").val() == "") {

                    $("#UrunId").removeClass("is-valid");
                    $("#UrunId").addClass("is-invalid");

                } else {
                    $("#UrunId").removeClass("is-invalid");
                    $("#UrunId").addClass("is-valid");

                }
               
            });
        });
        $("#KdvDahil").click(function () {

            if ($("#KdvDahil").val() == "KdvDahil") {
                $("#KdvDahil").val("KdvDahilDegil");
            } else {
                $("#KdvDahil").val("KdvDahil");
            }
            toplamTutar2();
        });
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#UrunId").val()) == "") return;

            var UrunId = $("#UrunId").val(),
                UrunAd = $("#UrunId option").filter(':selected').text(),



                detailsTableBody = $("#detailsTable tbody");

            var degerler = '<tr><td > ' + UrunId + '</td><td > ' + UrunAd + '</td><td><input type="text" id="Aciklama" name="Aciklama" placeholder="Açıklama Giriniz" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent"/></td><td ><select id="Kdv" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent"><option value="0.08">%8</option><option value="0.18">%18</option></select></td><td><input type="number" id="Miktar" name="Miktar" value="1" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent" /></td><td> <input type="number" id="BirimFiyat" name="BirimFiyat" placeholder="Fiyat Miktarı" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent"/></<td><td><input input type="number" id="Tutar" name="Tutar" placeholder="Tutar" class="rounded-0 border-top-0 border-left-0 border-right-0 border-bottom-0  px-0 bg-transparent" /></td><td><a data-itemId="0" href="#" class="deleteItem btn btn-danger btn-icon rounded-circle mr-1"><i class="fal fa-trash-alt"></i></a></td></tr > ';


            detailsTableBody.append(degerler);
           
           
            toplamTutar();
        });
        function toplamTutar() {
            $("td").change(function () {
                $.each($("#detailsTable tbody tr"), function () {
                    var Kdv = $(this).find('#Kdv').val();
                    var BirimFiyat = $(this).find('#BirimFiyat').val();
                    var Miktar = $(this).find('#Miktar').val();
                    var Kdvsiz = (BirimFiyat * Miktar * Kdv) + (BirimFiyat * Miktar);
                    var Kdvli = (BirimFiyat * Miktar);
                    var sonuc = null;
                    if ($("#KdvDahil").val() == "KdvDahil") {
                        sonuc = Kdvli;
                    } else {
                        sonuc = Kdvsiz;
                    }

                    $(this).find('td:eq(6)').text(sonuc);
                });
                var araToplam = 0;
                var kdvToplam = 0;
                var genelToplam = 0;

                $("#detailsTable tbody tr").each(function () {
                    var Kdv = $(this).find('#Kdv').val();
                    var BirimFiyat = $(this).find('#BirimFiyat').val();
                    var Miktar = $(this).find('#Miktar').val();
                    var x = null;
                    if ($("#KdvDahil").val() == "KdvDahil") {
                        var a = (BirimFiyat * Miktar) * 100;
                        var c = (100 * Kdv) + 100;
                        x = (a / c);
                    } else {
                        x = (BirimFiyat * Miktar);
                    }
                    var toplam = $(this).find("td:eq(6)").text();

                    araToplam = araToplam + x;
                    genelToplam = genelToplam + parseFloat(toplam);
                    kdvToplam = genelToplam - araToplam;
                });
                document.getElementById('AraToplam').value = araToplam.toFixed(2);
                document.getElementById('KdvToplam').value = kdvToplam.toFixed(2);
                document.getElementById('GenelToplam').value = genelToplam.toFixed(2);

            });
        }
        function toplamTutar2() {
            //Satır Silinirse
            $.each($("#detailsTable tbody tr"), function () {
                var Kdv = $(this).find('#Kdv').val();
                var BirimFiyat = $(this).find('#BirimFiyat').val();
                var Miktar = $(this).find('#Miktar').val();
                var Kdvsiz = (BirimFiyat * Miktar * Kdv) + (BirimFiyat * Miktar);
                var Kdvli = (BirimFiyat * Miktar);
                var sonuc = null;
                if ($("#KdvDahil").val() == "KdvDahil") {
                    sonuc = Kdvli;
                } else {
                    sonuc = Kdvsiz;
                }

                $(this).find('td:eq(6)').text(sonuc);
            });
            var araToplam = 0;
            var kdvToplam = 0;
            var genelToplam = 0;

            $("#detailsTable tbody tr").each(function () {
                var Kdv = $(this).find('#Kdv').val();
                var BirimFiyat = $(this).find('#BirimFiyat').val();
                var Miktar = $(this).find('#Miktar').val();
                var x = null;
                if ($("#KdvDahil").val() == "KdvDahil") {
                    var a = (BirimFiyat * Miktar) * 100;
                    var c = (100 * Kdv) + 100;
                    x = (a / c);
                } else {
                    x = (BirimFiyat * Miktar);
                }
                var toplam = $(this).find("td:eq(6)").text();

                araToplam = araToplam + x;
                genelToplam = genelToplam + parseFloat(toplam);
                kdvToplam = genelToplam - araToplam;
            });
            document.getElementById('AraToplam').value = araToplam.toFixed(2);
            document.getElementById('KdvToplam').value = kdvToplam.toFixed(2);
            document.getElementById('GenelToplam').value = genelToplam.toFixed(2);
        }
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#fd3995").fadeOut(800, function () {
                    $(this).remove();
                    toplamTutar2();
                });
            }

        });
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Fatura/DinamikFaturaEkle",
                data: data,
                success: function (result) {
                    console.log(result);
                    location.reload();
                    alert(result);
                },
                error: function () {
                    console.log("Error!");
                    alert("Ayarlarınızı Kontrol Edin");
                }
            });
        }
        $("#saveOrder").click(function (e) {
            e.preventDefault();
            var orderArr = [];
            orderArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                orderArr.push({
                    UrunId: $(this).find('td:eq(0)').html().trim(),
                    UrunAd: $(this).find('td:eq(1)').html().trim(),
                    Aciklama: $(this).find('#Aciklama').val(),
                    Kdv: $(this).find('#Kdv').val(),
                    Miktar: $(this).find('#Miktar').val(),
                    BirimFiyat: $(this).find('#BirimFiyat').val(),
                    Tutar: $(this).find('td:eq(6)').html()

                });
            });
            var data = JSON.stringify({
                Adres: $("#Adres").val(),
                AciklamaFatura: $("#AciklamaFatura").val(),
                FaturaSeriNo: $("#FaturaSeriNo").val(),
                FaturaSiraNo: $("#FaturaSiraNo").val(),
                IrsaliyeNumarasi: $("#IrsaliyeNumarasi").val(),
                VadeTarih: $("#VadeTarih").val(),
                Tarih: $("#Tarih").val(),
                VergiNumarasi: $("#VergiNumarasi").val(),
                VergiDairesi: $("#VergiDairesi").val(),
                IslemTip: $("#IslemTip option").filter(':selected').text(),
                GenelToplam: $("#GenelToplam").val(),
                CariID: $("#CariID").val(),
                DepoId: $("#DepoId").val(),
                /*KdvDahil: $("#KdvDahil").val(),*/
                kalemler: orderArr
            });

            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    </script>
}
