@using EuroStarFOM.Models.Siniflar
@model  List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<link href="~/smartadmin-html-full/dist/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" media="screen, print" />*@
<h2>
    @ViewBag.FaturaCari
</h2>
<h2>
    @ViewBag.FaturaVergiDairesi
</h2>
<h2>
    @ViewBag.FaturaSeriSiraNo
</h2>
 
<div class="panel">
    <div class="panel-hdr bg-danger-900 bg-info-gradient">
        <h2> Fatura Kalemler </h2>
        <div class="panel-toolbar">
            <a href="/Fatura/FaturaKalemEkle/@ViewBag.FaturaId" title="Yeni Kalem Girişi" class="btn btn-info btn-icon rounded-circle mr-1 ">
                <i class="fal fa-plus"></i>
            </a>

        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">

            <table id="dt-basic-example" class="table  table-hover table-light table-responsive-sm table-light table-striped ">
                <thead class=" bg-info-900 ">
                    <tr>
                        <th>Fatura Kalem ID</th>
                        <th>Ürün</th>
                        <th>Açıklama</th>
                        <th>Miktar</th>
                        <th>Birim Fiyat</th>
                        <th>Tutar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FaturaKalemID</td>
                            <td>@item.Urun.UrunAd</td>
                            <td>@item.Aciklama</td>
                            <td>@item.Miktar</td>
                            <td>@item.BirimFiyat</td>
                            <td>@item.Tutar</td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



@section ScriptsBlock {

    @*<script src="~/Scripts/jquery/jquery.js"></script>
    <script src="~/smartadmin-html-full/dist/js/datagrid/datatables/datatables.bundle.js"></script>
    <script>
        $(document).ready(function () {

            var table = $('#dt-basic-example').DataTable(
                {
                    //responsive: true,
                    orderCellsTop: true,
                    fixedHeader: true,
                });

        });

    </script>*@
}