@using EuroStarFOM.Models.Siniflar
@model  List<SatisHaraket>
@{
    ViewBag.Title = "DepartmanDetaySatis";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/smartadmin-html-full/dist/css/datagrid/datatables/datatables.bundle.css" rel="stylesheet" media="screen, print" />
<h2>
    @ViewBag.PersonelAdi
</h2>
<div class="panel">
    <div class="panel-hdr bg-danger-900 bg-info-gradient">
        <h2>Personel Satış </h2>
        <div class="panel-toolbar">

        </div>
    </div>
    <div class="panel-container show">
        <div class="panel-content">

            <table id="dt-basic-example" class="table  table-hover table-light table-responsive-sm table-light table-striped ">
                <thead class=" bg-info-900 ">
                    <tr>
                        <th>Satış ID</th>
                        <th>Ürün</th>
                        <th>Cari</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>Toplam</th>
                        <th>Tarih</th>
                        <th>Yazdır</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SatisID</td>

                            <td>@item.Urun.UrunAd</td>
                            <td>@item.Cari.CariAd @item.Cari.CariSoyad</td>
                            <td>@item.Fiyat</td>
                            <td>@item.Adet</td>
                            <td>@item.ToplamTutar</td>
                            <td>@item.Tarih</td>
                            <td>
                                <a href="#" title="Yazdır" class="btn btn-secondary btn-icon rounded-circle waves-effect waves-themed">
                                    <i class="fal fa-print"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



@section ScriptsBlock {

    <script src="~/smartadmin-html-full/dist/js/datagrid/datatables/datatables.bundle.js"></script>
    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#dt-basic-example thead tr').clone(true).appendTo('#dt-basic-example thead');
            $('#dt-basic-example thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" class="form-control form-control-sm" placeholder="Search ' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#dt-basic-example').DataTable(
                {
                    //responsive: true,
                    orderCellsTop: true,
                    fixedHeader: true,
                });

        });

    </script>
}